<div class="covid-time">
  <div class="flex">
    <div class="numbers">
      <div class="big-numbers roundone"></div>
      <div class="big-numbers roundtwo"></div>
      <div class="big-numbers roundthree"></div>
      <div class="big-numbers roundfour"></div>
      <div class="big-numbers roundfive"></div>
      <div class="big-numbers roundsix"></div>
    </div>
    <div class="headline">
      <h1><span>Coronavirus</span> The key global moments in 2020 - timeline</h1>
      <h2 class="byline">by Micheal Safi</h2>
    </div>
  </div>

  <img src="https://media.guim.co.uk/8a5aa579586857397185b1ec90a1bccc3a11f761/0_0_5568_3640/2000.jpg">
</div>
<div class="interactive-wrapper">
    <div class="gs-container">
        <div class="body-content content__main-column"></div>
    </div>
</div>
