<div class="interactive-wrapper live-links">
  <div class="live-links__header">
    <h1 class="live-links__header__headline">
      More barbecue recipes
    </h1>
  </div>
  <div class="live-links__content">
    <a class="content-block live-links__content__one" href="https://gu.com/p/dp6eq" target="_parent"
      data-link-name="bbq linkbox : link 1">
      <div class="left-content">
        <div class="food-image food-image__1"></div>
        <p class="blog-type">
          Yotam Ottolenghi's recipes for grilled lamb and vegetables
        </p>
      </div>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15.5" stroke="#121212" />
        <path
          d="M26 15.6063L17.3237 7L16.9119 7.81448L23.1445 15.1991H7V16.8281H23.1445L16.9119 24.1855L17.3237 25L26 16.4208V15.6063Z"
          fill="#121212" />
      </svg>
    </a>

    <a class="content-block live-links__content__two" href="https://gu.com/p/dnt3g" target="_parent"
      data-link-name="bbq linkbox : link 2">
      <div class="left-content">
        <div class="food-image food-image__2"></div>
        <p class="blog-type">
          Thomasina Miers' recipe for harissa-grilled mackerel with orange and black olive relish
        </p>
      </div>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15.5" stroke="#121212" />
        <path
          d="M26 15.6063L17.3237 7L16.9119 7.81448L23.1445 15.1991H7V16.8281H23.1445L16.9119 24.1855L17.3237 25L26 16.4208V15.6063Z"
          fill="#121212" />
      </svg>
    </a>

    <!-- <a class="content-block live-links__content__three" href="https://gu.com/p/dzz87" target="_parent"
      data-link-name="bbq linkbox : link 3">
      <div class="left-content">
        <div class="food-image food-image__3"></div>
        <p class="blog-type">
          Anna Jones' recipes for charred cauliflower and grilled spring salad
        </p>
      </div>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15.5" stroke="#121212" />
        <path
          d="M26 15.6063L17.3237 7L16.9119 7.81448L23.1445 15.1991H7V16.8281H23.1445L16.9119 24.1855L17.3237 25L26 16.4208V15.6063Z"
          fill="#121212" />
      </svg>
    </a> -->

    <a class="content-block live-links__content__four"
      href="https://www.theguardian.com/lifeandstyle/2017/aug/12/chargrilled-summer-vegetables-salad-courgette-corn-cumin-coriander-dressing-recipe-vegan-meera-sodha"
      target="_parent" data-link-name="bbq linkbox : link 4">
      <div class="left-content">
        <div class="food-image food-image__4"></div>
        <p class="blog-type">
          Meera Sodha’s recipe for chargrilled summer vegetables with a cumin and coriander dressing
        </p>
      </div>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15.5" stroke="#121212" />
        <path
          d="M26 15.6063L17.3237 7L16.9119 7.81448L23.1445 15.1991H7V16.8281H23.1445L16.9119 24.1855L17.3237 25L26 16.4208V15.6063Z"
          fill="#121212" />
      </svg>
    </a>

    <a class="content-block live-links__content__five" href="https://gu.com/p/dz5a7" target="_parent"
      data-link-name="bbq linkbox : link 5">
      <div class="left-content">
        <div class="food-image food-image__5"></div>
        <p class="blog-type">
          Richard Godwin's four breezy cocktail recipes
        </p>
      </div>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15.5" stroke="#121212" />
        <path
          d="M26 15.6063L17.3237 7L16.9119 7.81448L23.1445 15.1991H7V16.8281H23.1445L16.9119 24.1855L17.3237 25L26 16.4208V15.6063Z"
          fill="#121212" />
      </svg>
    </a>




  </div>
</div>