// Pillars //
$news-main: #c70000;
$news-dark: #880105;
$news-bright: #ff4e36;
$news-pastel: #ffbac8;
$news-faded: #fff4f2;

$opinion-main: #e05e00;
$opinion-dark: #bd5318;
$opinion-bright: #ff7f0f;
$opinion-pastel: #f9b376;
$opinion-faded: #fef9f5;

$sport-main:  #0084c6;
$sport-dark: #005689;
$sport-bright: #00b2ff;
$sport-pastel: #90dcff;
$sport-faded: #f1f8fc;

$culture-main: #a1845c;
$culture-dark: #6b5840;
$culture-bright: #eacca0;
$culture-pastel: #e7d4b9;
$culture-faded: #fbf6ef;

$lifestyle-main: #bb3b80;
$lifestyle-dark: #7d0068;
$lifestyle-bright: #ffabdb;
$lifestyle-pastel: #fec8d3;
$lifestyle-faded: #feeef7;

// Neutral // 
$neutral-7: #121212;
$neutral-20: #333333;
$neutral-46: #767676;
$neutral-60: #999999;
$neutral-86: #dcdcdc;
$neutral-92: #eaeaea;
$neutral-96: #f6f6f6;
$neutral-100: #ffffff;

// Brand //
$brand-main: #052962;
$brand-dark: #041f4a; 
$brand-pastel: #506991;

// Highlight //
$highlight-main: #ffe500;
$highlight-dark: #ffbb50;

// Other //
$special-dark: #3f464a;
$labs-main: #69d1ca;
$labs-dark: #65a897;
$green-main: #3db540;
$green-dark: #236925;
$live-red: #ae0000;

