@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}


.live-links {
    background-color: white;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    &__header {
        margin-top: 0;

        &__headline {
            font-family: "Guardian Headline Full";
            font-size: 20px;
            font-weight: 700;
            line-height: 115%;
            color: #bb3b80;
            margin: 0;
            padding: 4px 0 12px 4px;
        }
    }

    &__content {
        // padding-left: 10px;

        .content-block {
            border-top: 1px solid #dcdcdc;
            line-height: 115%;
            margin-bottom: 17px;
            padding-left: 4px;
            width: 98%;
            display: flex;
            justify-content: space-between;

            svg {
                margin-top: 4px;
            }
        }

        .blog-type {
            font-family: "Guardian Headline Full";
            font-size: 17px;
            line-height: 115%;
            font-weight: 700;
            margin-top: 1px;
            display: inline-block;
            width: 85%;

            color: #121212 !important;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@keyframes live-pulse {
    0% {
        opacity: 1
    }

    10% {
        opacity: .25
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}