<div class="fact-card-wrapper">
  <div class="fact-card-container">
  <div class="fact-card">
    <img src="https://media.guim.co.uk/52e2a62253042d48f7bf8f49bf2c26167e887cb6/0_7_6720_4032/1000.jpg">
    <h1>46 Berkeley Square</h1>
    <ul>
      <li class="location"><span>Location</span>Mayfair</li>
      <li class="purchased"><span>Purchased</span>2001</li>
      <li class="description">The building is home to Annabel’s, the exclusive nightclub and so-called “celebrity playground” owned by the millionaire restaurateur Richard Caring, where membership fees start at about £3,000. Sheikh Khalifa owns the freehold to many of the buildings surrounding Berkeley Square.</li>
    </ul>
  </div>
  <div class="fact-card">
    <img src="https://media.guim.co.uk/5425150b1a16a508dd9ae66c441b8fb0a2f610a3/0_3502_4480_2688/1000.jpg">
    <h1>Tilney House</h1>
    <ul>
      <li class="location"><span>Location</span>Mayfair</li>
      <li class="purchased"><span>Purchased</span>1997</li>
      <li class="description">The building serves as the home of Holbein Anstalt, the secretive Liechtensteinian company that manages Sheikh Khalifa and the UAE’s ruling Al Nahyan family’s property interests. The building is located just off Park Lane and overlooks the 5-star Dorchester Hotel.</li>
    </ul>
  </div>
  <div class="fact-card">
    <img src="https://media.guim.co.uk/38e2e74c417ea833102bcaafa4ba3e5db337d09e/0_0_6255_3755/1000.jpg">
    <h1>50 Berkeley Street</h1>
    <ul>
      <li class="location"><span>Location</span>Kensington</li>
      <li class="purchased"><span>Purchased</span>2002</li>
      <li class="description">A high-end office block bought by Sheikh Khalifa along with surrounding buildings and land. The building is home to the global commodities company Glencore and the site includes an Asian and Italian restaurant, Novikov, popular with wealthy Russian diners.</li>
    </ul>
  </div>
  <div class="fact-card">
    <img src="https://uploads.guim.co.uk/2020/10/16/ham_ridings.jpg">
    <h1>Ham Ridings</h1>
    <ul>
      <li class="location"><span>Location</span>Ham, Richmond</li>
      <li class="purchased"><span>Purchased</span>2002-2006</li>
      <li class="description">A string of four detached 1960s-built homes on a quiet cul-de-sac close to a mansion owned by Sheikh Khalifa near Richmond Park. The properties are understood to be have been acquired for staff working at the large property nearby.</li>
    </ul>
  </div>
  <div class="fact-card extra"></div>
  </div>
</div>
