<div class="interactive-wrapper">
  <div class="timeline">
    <div class="gs-container">
      <div class="timeline-placeholder"></div>
    </div>
    <!-- <div class="control-prompt">
      <svg width="94" height="30" viewBox="0 0 94 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.5318 21.6364h10.4318l-4.0909 4.8954.5318.5318 5.6864-5.7v-.5454l-5.6864-5.7-.5318.5318 4.0909 4.8955H78.5318v1.0909zM15.5591 20.5455H5.12726L9.21817 15.65l-.53181-.5318-5.68637 5.7v.5454l5.68636 5.7.53182-.5318-4.09091-4.8954H15.5591v-1.0909z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M93.5.5h-29v29h29V.5zM64 0v30h30V0H64zM61.5.5h-29v29h29V.5zM32 0v30h30V0H32zM29.5.5H.5v29h29V.5zM0 0v30h30V0H0z" fill="#fff"/><path d="M3.56 9h3.328v-.768H4.536V3.456H3.56V9zM86.7709 9h.976V6.752h.864L89.8509 9h1.072l-1.384-2.448v-.04c.624-.24 1.008-.648 1.008-1.432 0-1.088-.656-1.624-1.928-1.624h-1.848V9zm.976-2.928V4.208h.76c.728 0 1.032.264 1.032.904 0 .648-.288.96-1.024.96h-.768z" fill="#fff"/></svg>
    </div> -->
  </div>
  <div class="controls">
      <div data-link-name="live-blog-carousel-left__one" class="left">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black"/>
        </svg>
      </div>
      <div data-link-name="live-blog-carousel-right__one" class="right">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black"/>
        </svg>
      </div>
  </div>
  <div class="election-image-carousel">
    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Trump's supporters celebrate in front of the Versailles restaurant in Miami.
            </small>
            <cite>
              Photo by EPA/CRISTOBAL HERRERA-ULASHKEVICH
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/dcbba77833e36a644163f5cc843071a1cdb90b4e/0_134_4000_2400/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A demonstrator holds up a sign while waiting for election results at Black Lives Matter Plaza.
            </small>
            <cite>
              Photo by AP Photo/John Minchillo
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/d1f57b1416c4a73de5b1539cd9033c0c5b38e8da/0_186_5706_3424/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A woman with a U.S. President Donald Trump mask dances on a U.S. flag outside Trump Tower on Election Day in the Manhattan borough of New York City.
            </small>
            <cite>
              Photo by REUTERS/Carlo Allegri
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/c4689acba91497b156054102dfedd3e7f58dccc1/0_181_3500_2101/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A man holds a sign in a street near the White House on Election Day.
            </small>
            <cite>
              Photo by Yegor Aleyev\TASS via Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/2973ab7702eae681846e55da3b2c656d4806c546/0_149_4868_2921/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Supporters of Joe Biden, a candidate in the 2020 US presidential election, gather in a street near the White House.
            </small>
            <cite>
              Photo by Photo by Yegor Aleyev\TASS via Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/da8bd80b956e0b50d65b47dedd5eedc853d16fcf/0_317_4760_2857/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Demonstrators react outside the White House while waiting on election results.
            </small>
            <cite>
              Photo by AP Photo/John Minchillo
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/948654f2c7494c45f065b5a234273e2b5053db6e/0_292_6000_3600/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A demonstrator carries a sign referring to the Covid-19 mortality count in the United States outside the White House.
            </small>
            <cite>
              Photo by AP Photo/Manuel Balce Ceneta
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/219a23ca18399be212a55c3becdceea0e0ca72c7/0_99_5232_3139/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A demonstrator going by the name Azul Azul walks around with a painted face outside the White House.
            </small>
            <cite>
              Photo by AP Photo/John Minchillo
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/1e0cd27c24dac8e63fb52708dcbd743d80e08920/0_142_4135_2482/1000.jpg">
    </div>
  </div>
</div>
