@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
    background-color: #dfe4e6;
}

.fact-card-wrapper {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;

  .fact-card-container {
    display: flex;
    overflow-x:scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;

    @include mq($from: desktop) {
      padding-left: 170px;
    }

    @include mq($from: wide) {
      padding-left: 240px;
    }
  }

  .fact-card {
    width: 300px;
    border: 1px solid #121212;
    flex: 0 0 auto;
    margin-right: 10px;
    background-color: #fff;

    img {
      width: 100%;
    }

    h1 {
      font-size: 20px;
      line-height: 1.1;
      margin-left: 10px;
      margin-top: 10px;
      font-family: "Guardian Titlepiece";
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 10px;

      li {
        list-style: none;

        &.purchased {
          line-height: 1.2;
          margin-bottom: 10px;
          font-weight: 200;
          font-style: italic;
        }

        &.location {
          font-weight: 200;
          font-style: italic;
          line-height: 1.2;
        }

        span {
          display: block;
          font-weight: 900;
          font-style: normal;
        }
      }
    }
  }
}
