<div class="interactive-wrapper">
  <div class="timeline">
    <div class="gs-container">
      <div class="timeline-placeholder"></div>
    </div>
    <!-- <div class="control-prompt">
      <svg width="94" height="30" viewBox="0 0 94 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.5318 21.6364h10.4318l-4.0909 4.8954.5318.5318 5.6864-5.7v-.5454l-5.6864-5.7-.5318.5318 4.0909 4.8955H78.5318v1.0909zM15.5591 20.5455H5.12726L9.21817 15.65l-.53181-.5318-5.68637 5.7v.5454l5.68636 5.7.53182-.5318-4.09091-4.8954H15.5591v-1.0909z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M93.5.5h-29v29h29V.5zM64 0v30h30V0H64zM61.5.5h-29v29h29V.5zM32 0v30h30V0H32zM29.5.5H.5v29h29V.5zM0 0v30h30V0H0z" fill="#fff"/><path d="M3.56 9h3.328v-.768H4.536V3.456H3.56V9zM86.7709 9h.976V6.752h.864L89.8509 9h1.072l-1.384-2.448v-.04c.624-.24 1.008-.648 1.008-1.432 0-1.088-.656-1.624-1.928-1.624h-1.848V9zm.976-2.928V4.208h.76c.728 0 1.032.264 1.032.904 0 .648-.288.96-1.024.96h-.768z" fill="#fff"/></svg>
    </div> -->
  </div>
  <div class="controls">
    <div data-link-name="live-blog-carousel-left__one" class="left">
      <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black" />
      </svg>
    </div>
    <div data-link-name="live-blog-carousel-right__one" class="right">
      <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black" />
      </svg>
    </div>
  </div>
  <div class="election-image-carousel">
    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000" /></svg></strong></span>
              President Donald Trump’s supporters celebrate in front of the Versailles restaurant in Miami, Florida, USA, 03 November 2020
            </small>
            <cite>
              Photo by Cristobal Herrera-Ulashkevich / EPA
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/28488a6caa7640a918d9036660bb557eecc6ca79/0_0_4000_2400/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000" /></svg></strong></span>
              People cheer as Florida is called for US President Donald Trump at a watch party for Republicans
            </small>
            <cite>
              Photo by Sergio Flores / AFP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/cb2c581a31ce1bae2b6e4f088fd71bb62fc7645f/0_92_6016_3611/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000" /></svg></strong></span>
              Supporters of US President Donald Trump rally in front of Cuban restaurant Versailles in Miami, Florida
            </small>
            <cite>
              Photo by Eva Marie Uzcategui / AFP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/e3ec31b300a4f9e90c859a1e2a96d003057136b9/0_68_5087_3052/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000" /></svg></strong></span>
              People watch a broadcast of Fox News showing presidential election returns at an election night watch party organized by group "Villagers for Trump" in The Villages, Florida
            </small>
            <cite>
              Photo by Ricardo Arduengo / AFP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/55dd3decc3669b2acbf263a531f40b2e22a30456/0_0_6240_4160/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000" /></svg></strong></span>
              Andy Soberon a supporter of the Democratic party attends a watch party in Miami, Florida
            </small>
            <cite>
              Photo by Chandan Khanna / AFP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/d21ff0fde00cfa34a30ebdbd198d62fa24e4dea2/0_260_3900_2340/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000" /></svg></strong></span>
              People watch a broadcast of Fox News showing presidential election returns at an election night watch party organized by group "Villagers for Trump" in The Villages, Florida
            </small>
            <cite>
              Photo by Ricardo Arduengo / AFP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/fb36c3ba8dc6358df556d368a27d00b1491a6318/0_221_5862_3517/1000.jpg">
    </div>

  </div>
</div>
