<div class="interactive-wrapper">
  <div class="timeline">
    <div class="gs-container">
      <div class="timeline-placeholder"></div>
    </div>
    <!-- <div class="control-prompt">
      <svg width="94" height="30" viewBox="0 0 94 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.5318 21.6364h10.4318l-4.0909 4.8954.5318.5318 5.6864-5.7v-.5454l-5.6864-5.7-.5318.5318 4.0909 4.8955H78.5318v1.0909zM15.5591 20.5455H5.12726L9.21817 15.65l-.53181-.5318-5.68637 5.7v.5454l5.68636 5.7.53182-.5318-4.09091-4.8954H15.5591v-1.0909z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M93.5.5h-29v29h29V.5zM64 0v30h30V0H64zM61.5.5h-29v29h29V.5zM32 0v30h30V0H32zM29.5.5H.5v29h29V.5zM0 0v30h30V0H0z" fill="#fff"/><path d="M3.56 9h3.328v-.768H4.536V3.456H3.56V9zM86.7709 9h.976V6.752h.864L89.8509 9h1.072l-1.384-2.448v-.04c.624-.24 1.008-.648 1.008-1.432 0-1.088-.656-1.624-1.928-1.624h-1.848V9zm.976-2.928V4.208h.76c.728 0 1.032.264 1.032.904 0 .648-.288.96-1.024.96h-.768z" fill="#fff"/></svg>
    </div> -->
  </div>
  <div class="controls">
    <div data-link-name="live-blog-carousel-left__one" class="left">
      <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z"
          fill="black" />
      </svg>
    </div>
    <div data-link-name="live-blog-carousel-right__one" class="right">
      <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z"
          fill="black" />
      </svg>
    </div>
  </div>
  <div class="election-image-carousel">
    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Tyler Singleton, 12, and Emma Singleton, 10, watch the results come in during a watch party at the Grand
              Hyatt hotel
            </small>
            <cite>
              Photograph: Branden Camp/AP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/c25100a1f42298838e4ff9b351b373cb16fde647/120_242_5269_3161/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              A live broadcast of Donald Trump speaking from the White House on screens at an election-night party
            </small>
            <cite>
              Photograph: John Locher/AP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/596fba492c434d622acaef041b3b6fa739d379c3/0_192_5773_3464/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Election officials count absentee ballots on Wednesday
            </small>
            <cite>
              Photograph: Scott Olson/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/5cdd91260af65c74c242fabaf0a0336f1417814a/0_358_5472_3283/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Trump supporter John McGuinness celebrates while watching election returns at a Republican watch party
            </small>
            <cite>
              Photograph: John Locher/AP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/ce565194cf82edc8f8bf270e0824ed8ab1e25fde/0_86_4833_2900/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              The Democratic presidential nominee, Joe Biden, and his wife, Jill Biden, wave to supporters after
              speaking during election night at the Chase Center
            </small>
            <cite>
              Photograph: Angela Weiss/AFP/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/c3e33ab821c6b4ec41e6e177d56b06d042501cfc/52_159_4280_2841/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              A Donald Trump supporter, left, clashes with a demonstrator at a Black Lives Matter protest
            </small>
            <cite>
              Photograph: Olivier Douliery/AFP/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/d63ba5088153d73514284dd50a6f2e474494b766/0_0_5000_3588/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Shannon Einstein and Bekah Carlson, supporters of Joe Biden and Kamala Harris, watch as election results
              are broadcast on a big screen in McPherson Square near the White House
            </small>
            <cite>
              Photograph: Shawn Thew/EPA
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/914ed8622cbc9445f3208e98a6610d6dc9b5f52d/0_0_4508_2706/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Trump supporters celebrate as they watch Ohio being called for Donald Trump at a Republican watch party at
              Huron Vally Guns
            </small>
            <cite>
              Photograph: Seth Herald/AFP/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/a160b6fb6fd70ec5044a9e1113d8b16c637792a6/0_529_5502_3302/1000.jpg">
    </div>


    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Election judges Yvonne Latuff, left, and Eliza Mark hang an American flag outside a polling place before
              it opens
            </small>
            <cite>
              Photograph: Stephen Maturen/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/b9f728cb06b2871ac7d6f03575d9a6b294c6c5e8/0_400_7360_4416/1000.jpg">
    </div>


    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              A young boy holding two American flags as his father votes inside a polling location at Nationals Park
            </small>
            <cite>
              Photograph: Mário Cruz/EPA
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/5bf7a40de15f31c33df3fef5efceadab06c7c138/0_355_5336_3202/1000.jpg">
    </div>


    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Election judges verify and count ballots at the Denver Elections Division
            </small>
            <cite>
              Photograph: Chet Strange/AFP/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/c47b223d816c611b75ee323d20f7b57f5faf9f57/0_366_6617_3973/1000.jpg">
    </div>


    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              An election official sits between stacks of blank ballots in the polling area in the KFC YUM! Center
            </small>
            <cite>
              Photograph: Jon Cherry/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/b86cc00c8327b7bcb327c71d3fc432aadbb69561/0_224_6103_3662/1000.jpg">
    </div>


    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              People watch a broadcast of Fox News showing presidential election returns at an election night watch
              party organized by the Villagers for Trump group
            </small>
            <cite>
              Photograph: Ricardo Arduengo/AFP/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/55dd3decc3669b2acbf263a531f40b2e22a30456/0_416_6240_3744/1000.jpg">
    </div>

  </div>
</div>