<div class="interactive-wrapper">
  <div class="timeline">
    <div class="gs-container">
      <div class="timeline-placeholder"></div>
    </div>
    <!-- <div class="control-prompt">
      <svg width="94" height="30" viewBox="0 0 94 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.5318 21.6364h10.4318l-4.0909 4.8954.5318.5318 5.6864-5.7v-.5454l-5.6864-5.7-.5318.5318 4.0909 4.8955H78.5318v1.0909zM15.5591 20.5455H5.12726L9.21817 15.65l-.53181-.5318-5.68637 5.7v.5454l5.68636 5.7.53182-.5318-4.09091-4.8954H15.5591v-1.0909z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M93.5.5h-29v29h29V.5zM64 0v30h30V0H64zM61.5.5h-29v29h29V.5zM32 0v30h30V0H32zM29.5.5H.5v29h29V.5zM0 0v30h30V0H0z" fill="#fff"/><path d="M3.56 9h3.328v-.768H4.536V3.456H3.56V9zM86.7709 9h.976V6.752h.864L89.8509 9h1.072l-1.384-2.448v-.04c.624-.24 1.008-.648 1.008-1.432 0-1.088-.656-1.624-1.928-1.624h-1.848V9zm.976-2.928V4.208h.76c.728 0 1.032.264 1.032.904 0 .648-.288.96-1.024.96h-.768z" fill="#fff"/></svg>
    </div> -->
  </div>
  <div class="controls">
    <div data-link-name="live-blog-carousel-left__one" class="left">
      <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z"
          fill="black" />
      </svg>
    </div>
    <div data-link-name="live-blog-carousel-right__one" class="right">
      <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z"
          fill="black" />
      </svg>
    </div>
  </div>
  <div class="election-image-carousel">
    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              A worker with the Detroit Department of Elections takes a break after sorting through absentee ballots in
              Detroit
            </small>
            <cite>
              Photograph: Elaine Cromie/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/5e09fcbc88de8dd44ee736a69172926a8497bc0d/0_294_6127_3678/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Portland police patrol the streets trying to disperse protests
            </small>
            <cite>
              Photograph: Christian Monterrosa/EPA
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/8c773049accba76a04a8ec7721491c8f64fc1d3f/0_138_3979_2388/1000.jpg">
    </div>



    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Donald Trump supporters gather to protest the election results at the Arizona State Capitol
            </small>
            <cite>
              Photograph: Courtney Pedroza/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/cb4680f67c72d3e74e9f70b28830f3878216d054/0_0_5543_3695/1000.jpg">
    </div>



    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Election officials, poll watchers and challengers monitor the counting of Grand Rapids absentee ballots at
              DeVos Place in Michigan
            </small>
            <cite>
              Photograph: Cory Morse/AP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/c1471858bb5c5924ea499342879d70f3523c6272/0_102_5152_3091/1000.jpg">
    </div>


    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Detained demonstrators are taken to the police station by buses at the end of protest marches against
              racism and issues with the presidential election, in Minneapolis, Minnesota
            </small>
            <cite>
              Photograph: Kerem Yucel/AFP/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/829c629079184de9fb67a8553d5b35cf08fe5ef1/0_400_6000_3600/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Supporters of president Donald Trump protest the Nevada vote in front of the Clark County Election
              Department, Las Vegas
            </small>
            <cite>
              Photograph: John Locher/AP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/f08e6c5fa3af44ee11d0b524518523259e42556a/0_67_6000_3600/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Police officers are silhouetted as they stand guard at a subway station during a protest in Los Angeles
            </small>
            <cite>
              Photograph: Ringo HW Chiu/AP
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/80205bfdea9aa4d70a3497b4f2cf0fbf2e20aba3/0_103_3000_1801/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z"
                      fill="#000" /></svg></strong></span>
              Election protestors gathered at the Times Square in New York City
            </small>
            <cite>
              Photograph: Anadolu Agency/Getty Images
              <cite>
          </div>
        </div>
      </div>
      <img class="slide-image"
        data-src="https://media.guim.co.uk/2a11f47186478be5b2feaeafa8d04193b70bcc47/0_110_5472_3283/1000.jpg">
    </div>



  </div>
</div>