<div class="interactive-wrapper">
  <div class="timeline">
    <div class="gs-container">
      <div class="timeline-placeholder"></div>
    </div>
    <!-- <div class="control-prompt">
      <svg width="94" height="30" viewBox="0 0 94 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.5318 21.6364h10.4318l-4.0909 4.8954.5318.5318 5.6864-5.7v-.5454l-5.6864-5.7-.5318.5318 4.0909 4.8955H78.5318v1.0909zM15.5591 20.5455H5.12726L9.21817 15.65l-.53181-.5318-5.68637 5.7v.5454l5.68636 5.7.53182-.5318-4.09091-4.8954H15.5591v-1.0909z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M93.5.5h-29v29h29V.5zM64 0v30h30V0H64zM61.5.5h-29v29h29V.5zM32 0v30h30V0H32zM29.5.5H.5v29h29V.5zM0 0v30h30V0H0z" fill="#fff"/><path d="M3.56 9h3.328v-.768H4.536V3.456H3.56V9zM86.7709 9h.976V6.752h.864L89.8509 9h1.072l-1.384-2.448v-.04c.624-.24 1.008-.648 1.008-1.432 0-1.088-.656-1.624-1.928-1.624h-1.848V9zm.976-2.928V4.208h.76c.728 0 1.032.264 1.032.904 0 .648-.288.96-1.024.96h-.768z" fill="#fff"/></svg>
    </div> -->
  </div>
  <div class="controls">
      <div data-link-name="live-blog-carousel-left__two" class="left">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black"/>
        </svg>
      </div>
      <div data-link-name="live-blog-carousel-right__two" class="right">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black"/>
        </svg>
      </div>
  </div>
  <div class="election-image-carousel">
    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <h1>Americans vote in 2020 – in pictures</h1>
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Anna Marie Hinojos, 49, holds up a sign in support of Donald Trump as voters line up at a polling station Tuesday.
            </small>
            <cite>
              Photo by Callaghan O'Hare
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/05ebd034addea5328b5ae39293cf42f1343e5eae/0_236_3500_2100/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A poll worker is silhouetted from a stained glass window as voters fill out their ballots on Tuesday.
            </small>
            <cite>
              Photo by JOSH EDELSON / AFP
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/32bfdc8b99a4cfa3ca287a725e153c058c2cdbf3/0_0_4867_2986/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Supporters of Donald Trump sit on their front porch Tuesday.
            </small>
            <cite>
              Photo by Seth Herald / AFP
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/a07ff7a3ab77018777c90359c46aa2ba9ded9811/0_225_6185_3711/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Democratic presidential nominee Joe Biden rallies supporters in the West Oak Lane neighborhood of Philadelphia on Tuesday.
            </small>
            <cite>
              Photo by Drew Angerer/Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/e93a1345cfc331adca6b373626f547553931bfe2/0_341_5129_3078/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Election judges Yvonne Latuff (L) and Eliza Mark hang an American flag outside a polling place before it opens.
            </small>
            <cite>
              Photo by Stephen Maturen/Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/b9f728cb06b2871ac7d6f03575d9a6b294c6c5e8/0_400_7360_4416/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Voters fill out and cast their ballots at Cross Insurance Center.
            </small>
            <cite>
              Photo by Scott Eisen/Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/aaff8f6d26ca51c184a7d38aef33e9571918f0dd/0_29_5472_3283/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A young boy holding two American flags as his father votes inside a polling location at Nationals Park.
            </small>
            <cite>
              Photo by EPA/MARIO CRUZ
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/5bf7a40de15f31c33df3fef5efceadab06c7c138/0_355_5336_3202/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Election judges verify and count ballots at the Denver Elections Division.
            </small>
            <cite>
              Photo by Chet Strange / AFP
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/c47b223d816c611b75ee323d20f7b57f5faf9f57/0_412_6617_3970/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Senator Elizabeth Warren leaves the polling booth at the Graham and Parks School.
            </small>
            <cite>
              Photo by EPA/Amanda Sabga
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/6ff295d103c52ada33f4f49dcff51a4dd3ec4458/0_0_3600_2326/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Donald Trump speaks as he visits his campaign headquarters.
            </small>
            <cite>
              Photo by SAUL LOEB/AFP via Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/5c398773eebb4f019be10c068c87c19b0f94c460/0_0_5337_3293/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              An election official sits between stacks of blank ballots in the polling area in the KFC YUM! Center.
            </small>
            <cite>
              Photo by Jon Cherry/Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/b86cc00c8327b7bcb327c71d3fc432aadbb69561/0_224_6103_3662/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Groups of musicians march between polling locations outside of Barclays Center.
            </small>
            <cite>
              Photo by Jordan Gale
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/de7279b17c55da74d1911e57692613b86a95e45a/0_0_3200_1921/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              People watch a big screen displaying the live election results in Florida at Black Lives Matter plaza across from the White House.
            </small>
            <cite>
              Photo by OLIVIER DOULIERY/AFP via Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/710aa294c488c6049875eba7627e8292a056eecd/0_486_5000_3000/1000.jpg">
    </div>
  </div>
</div>
