// @import "template";

@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";
@import "_embed";

.interactive-atom {
    margin: 0;
    padding: 0;
}


.live-links {
    background-color: white;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    &__header {
        margin-top: 0;

        &__headline {
            font-family: "Guardian Headline Full";
            font-size: 20px;
            font-weight: 700;
            line-height: 115%;
            color: #bb3b80;
            margin: 0;
            padding: 2px 0 12px 0;
        }
    }

    &__content {
        // padding-left: 10px;
        cursor: pointer;
        z-index: 10;

        .content-block {
            border-top: 1px solid #dcdcdc;
            line-height: 115%;
            display: flex;
            justify-content: space-between;
            text-decoration: none;

            color: #121212 !important;

            &:hover {
                text-decoration: none;
            }

            &:hover svg circle {
                stroke: #bb3b80;
            }

            &:hover svg path {
                fill: #bb3b80;
            }

            svg {
                margin-top: 4px;
                margin-right: 4px;
            }
        }

        .left-content {
            display: flex;
        }

        .food-image {
            width: 80px;
            height: 90px;
            margin-top: 4px;
            margin-right: 8px;
            margin-bottom: 8px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include mq(mobileMedium) {
                width: 100px;
                height: 70px;
            }


            @include mq(phablet) {
                width: 130px;
                height: 90px;
            }

            &__1 {
                background-image: url('https://media.guim.co.uk/9edad8db29831185ec68ee0e2a4c9cc72130d8b0/527_1270_3729_3730/500.jpg');
            }

            &__2 {
                background-image: url('https://media.guim.co.uk/50b5f7755b08c3270b30ad4ae4874585a2340250/815_1687_4676_4676/500.jpg');
            }

            &__3 {
                background-image: url('https://media.guim.co.uk/bcdb61c824c4468ff1295798fd44094975c17209/951_92_2220_2220/500.jpg');
            }

            &__4 {
                background-image: url('https://media.guim.co.uk/f52a2daf0c30a812a0756a59e4dc3f82ba7e62ca/0_0_3008_3008/500.jpg');
            }

            // &__5 {
            //     background-image: url('https://media.guim.co.uk/5980124d179a3c23e5fb7b5ff7ecb1e07ac1cbcd/658_0_3845_3845/500.jpg');
            // }
        }

        .blog-type {
            font-family: "Guardian Headline Full";
            font-size: 17px;
            line-height: 115%;
            font-weight: 400;
            margin-top: 1px;
            display: inline-block;
            width: 167px;



            color: #121212 !important;
            text-decoration: none;

            @include mq(mobileMedium) {
                width: 190px;
            }

            @include mq(mobileLandscape) {
                width: 270px;
            }

            @include mq(phablet) {
                font-size: 20px;
                width: 400px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}



@media (prefers-color-scheme: dark) {
    .live-links {
        .ios & {
            background-color: #121212;
            border-top: 1px solid #bb3b80;
            border-bottom: 1px solid #bb3b80;

            &__header {
                &__headline {
                    color: #f37abc;
                }
            }

            .content-block {
                border-top: 1px solid #dcdcdc;
                color: #dcdcdc !important;

                svg circle {
                    stroke: #dcdcdc;
                }

                svg path {
                    stroke: #dcdcdc;
                }

                &:hover svg circle {
                    stroke: #bb3b80;
                }

                &:hover svg path {
                    fill: #bb3b80;
                }
            }
        }
    }
}