<div class="interactive-wrapper">
    <div class="header gs-container">
        <div class="mainmedia content__main-column">
            <img src="https://media.guim.co.uk/1945119abc5b5a7157dbec53b88d3430cb9ee415/0_783_3153_3941/800.jpg" alt="">
        </div>
        <div class="headline content__main-column">
            <p class="tag">Interview</p>
            <h1>UK rapper Enny: ‘Black women are beautiful. They don’t get told that enough’</h1>
            <p class="byline">Micha Frazer-Carrol</p>
        </div>
    </div>
    <div class="gs-container">
        <div class="content__main-column">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>