<div class="interactive-wrapper">
    <div class="pb-wrapper">
        {{#Header}}
        <div class="pb-header ">
            <div class="gs-container pb-container">
                <div class="pb-header__wrapper">
                    <div class="pb-header__text">
                        <a data-link-name="monthly paperbacks : tag link" href="{{tagUrl}}">{{tag}}</a>
                        <h1>{{headline}}</h1>
                        <h1><span>{{month}}</span></h1>
                        <h2>{{standfirst}}</h2>
                        <div class="show-desktop">
                            <div class="pb-meta">
                                <!-- <p>{{date}}</p>
                                <p>share</p> -->
      <div class="content__meta-container js-content-meta u-cf
    ">
    

    

    

    
    <div class="meta__contact-wrap">
        
            
                
     

    <p class="byline" data-link-name="byline" data-component="meta-byline"></p>

 

            
        

        

        

        
            
<p class="content__dateline" aria-hidden="true">
    <time itemprop="datePublished" datetime="2021-03-05T14:39:13+0000" data-timestamp="1614955153000" class="content__dateline-wpd js-wpd">
        
            Fri 5 Mar 2021 <span class="content__dateline-time">14.39&nbsp;GMT</span>
        
    </time>
    

    


    
        <time datetime="2021-03-05T15:24:07+0000" data-timestamp="1614957847000" class="content__dateline-lm js-lm u-h" itemprop="dateModified">
            Last modified on Fri 5 Mar 2021 <span class="content__dateline-time">15.24&nbsp;GMT</span>
        </time>
    

    
</p>
<meta itemprop="dateModified" content="2021-03-05T15:24:07+0000">

        
    </div>
    

    

    
        <div class="meta__extras">
            <div class="meta__social" data-component="share">
                
<ul class="social social--top js-social--top u-unstyled u-cf" data-component="social">
     
    <li class="social__item social__item--facebook " data-link-name="facebook">
        <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Fmar%2F05%2Fthis-months-best-paperbacks-michelle-obama-jan-morris-and-more%3FCMP%3Dshare_btn_fb" target="_blank" title="Facebook">
            <span class="inline-icon__fallback button">Share on Facebook</span>
            

<span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook">
    
        <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg">
 <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
</svg>
    
</span>

        </a>
    </li>
  
    <li class="social__item social__item--twitter " data-link-name="twitter">
        <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://twitter.com/intent/tweet?text=This%20month's%20best%20paperbacks%3A%20Michelle%20Obama%2C%20Jan%20Morris%20and%20more&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Fmar%2F05%2Fthis-months-best-paperbacks-michelle-obama-jan-morris-and-more%3FCMP%3Dshare_btn_tw" target="_blank" title="Twitter">
            <span class="inline-icon__fallback button">Share on Twitter</span>
            

<span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter">
    
        <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg">
 <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path>
</svg>
    
</span>

        </a>
    </li>
  
    <li class="social__item social__item--email " data-link-name="email">
        <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="mailto:?subject=This%20month's%20best%20paperbacks%3A%20Michelle%20Obama%2C%20Jan%20Morris%20and%20more&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Fmar%2F05%2Fthis-months-best-paperbacks-michelle-obama-jan-morris-and-more%3FCMP%3Dshare_btn_link" target="_blank" title="Email">
            <span class="inline-icon__fallback button">Share via Email</span>
            

<span class="inline-share-email inline-icon rounded-icon centered-icon social-icon social-icon--email">
    
        <svg width="32" height="32" viewBox="0 0 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--email__svg inline-share-email__svg inline-icon__svg">
 <path d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z"></path>
</svg>
    
</span>

        </a>
    </li>
 
</ul>



            </div>
                <div class="meta__numbers">
                    <div class="u-h meta__number js-sharecount">
                    </div>
                    <div class="u-h meta__number" data-discussion-id="/p/gezcv" data-commentcount-format="content" data-discussion-closed="true">
                    </div>
                </div>
        </div>
    

</div>
                            </div>
                        </div>
                    </div>
                    <div class="pb-header__images">
                        <div class="pb-header__images__inner">
                            {{#Content}}
                            <img src="{{bookCoverUrl}}" alt="">
                            {{/Content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/Header}}
        <div class="pb-content gs-container pb-container">
            <div class="pb-left show-desktop" data-current=''>
                {{#Content}}
                <div class="pb-left__block-wrapper" data-name="{{bookName}}">
                    <a data-link-name="monthly paperbacks : anchor link" class="block-anchor" href="#{{bookName}}"></a>
                    <div class="pb-left__block">
                        <div class="pb-left__image">
                            <img src="{{bookCoverUrl}}" alt="">
                        </div>
                        <div class="pb-left__text">
                            <div>
                                <p class="genre-tag show-desktop">{{genreTag}}</p>
                                <h3>{{bookName}}</h3>
                                <h3 class="pb-name">{{authorName}}</h3>
                            </div>
                            <a class="pb-arrow">
                                <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.69415 26.0817L14.0425 13.7333L14.0425 12.43L1.69415 0.0816631L0.456054 1.35234L10.035 13.0817L0.456055 24.811L1.69415 26.0817ZM14.7267 26.0817L27.0751 13.7333L27.0751 12.43L14.7267 0.0816625L13.4886 1.35234L23.0676 13.0817L13.4886 24.811L14.7267 26.0817Z" fill="#121212"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {{/Content}}

            </div>
            <div class="pb-right overflow-hide-mobile">
                <div class="show-mobile">
                    <div class="pb-meta">
                        <div class="content__meta-container js-content-meta u-cf
    ">
    

    

    

    
    <div class="meta__contact-wrap">
        
            
                
     

    <p class="byline" data-link-name="byline" data-component="meta-byline"></p>

 

            
        

        

        

        
            
<p class="content__dateline" aria-hidden="true">
    <time itemprop="datePublished" datetime="2021-03-05T14:39:13+0000" data-timestamp="1614955153000" class="content__dateline-wpd js-wpd">
        
            Fri 5 Mar 2021 <span class="content__dateline-time">14.39&nbsp;GMT</span>
        
    </time>
    

    


    
        <time datetime="2021-03-05T15:24:07+0000" data-timestamp="1614957847000" class="content__dateline-lm js-lm u-h" itemprop="dateModified">
            Last modified on Fri 5 Mar 2021 <span class="content__dateline-time">15.24&nbsp;GMT</span>
        </time>
    

    
</p>
<meta itemprop="dateModified" content="2021-03-05T15:24:07+0000">

        
    </div>
    

    

    
        <div class="meta__extras">
            <div class="meta__social" data-component="share">
                
<ul class="social social--top js-social--top u-unstyled u-cf" data-component="social">
     
    <li class="social__item social__item--facebook " data-link-name="facebook">
        <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Fmar%2F05%2Fthis-months-best-paperbacks-michelle-obama-jan-morris-and-more%3FCMP%3Dshare_btn_fb" target="_blank" title="Facebook">
            <span class="inline-icon__fallback button">Share on Facebook</span>
            

<span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook">
    
        <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg">
 <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
</svg>
    
</span>

        </a>
    </li>
  
    <li class="social__item social__item--twitter " data-link-name="twitter">
        <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://twitter.com/intent/tweet?text=This%20month's%20best%20paperbacks%3A%20Michelle%20Obama%2C%20Jan%20Morris%20and%20more&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Fmar%2F05%2Fthis-months-best-paperbacks-michelle-obama-jan-morris-and-more%3FCMP%3Dshare_btn_tw" target="_blank" title="Twitter">
            <span class="inline-icon__fallback button">Share on Twitter</span>
            

<span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter">
    
        <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg">
 <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path>
</svg>
    
</span>

        </a>
    </li>
  
    <li class="social__item social__item--email " data-link-name="email">
        <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="mailto:?subject=This%20month's%20best%20paperbacks%3A%20Michelle%20Obama%2C%20Jan%20Morris%20and%20more&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Fmar%2F05%2Fthis-months-best-paperbacks-michelle-obama-jan-morris-and-more%3FCMP%3Dshare_btn_link" target="_blank" title="Email">
            <span class="inline-icon__fallback button">Share via Email</span>
            

<span class="inline-share-email inline-icon rounded-icon centered-icon social-icon social-icon--email">
    
        <svg width="32" height="32" viewBox="0 0 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--email__svg inline-share-email__svg inline-icon__svg">
 <path d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z"></path>
</svg>
    
</span>

        </a>
    </li>
 
</ul>



            </div>
                <div class="meta__numbers">
                    <div class="u-h meta__number js-sharecount">
                    </div>
                    <div class="u-h meta__number" data-discussion-id="/p/gezcv" data-commentcount-format="content" data-discussion-closed="true">
                    </div>
                </div>
        </div>
    

</div>
                    </div>
                </div>
                {{#Content}}
                <div id="{{bookName}}" class="pb-right__block content-block" data-name="{{bookName}}">
                    <div class="show-mobile">
                        <div class="mobile-book-title">
                            <div class="pb-mobile__image">
                                <img src="{{bookCoverUrl}}" alt="">
                            </div>
                            <div class="pb-mobile__text">
                                <p class="genre-tag">{{genreTag}}</p>
                                <h2 class="pb-right__block__standfirst">{{bookHeadline}}</h2>
                                <h3>{{bookName}}</h3>
                                <h3 class="pb-name">{{authorName}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-drawer">
                        
                        <h2 class="pb-right__block__title show-desktop">{{bookName}} <span>{{authorName}}</span></h2>
                        <h2 class="pb-right__block__standfirst show-desktop">{{bookHeadline}}</h2>
                        <img class="{{imageSize}} show-desktop" src="{{imageUrl}}" alt="">
                        <img class="{{imageSize}} show-mobile" src="{{imageUrl}}" alt="">
                        <p class="pb-right__block__paragraph">{{{bodyText}}}</p>
                        <p class="pb-right__block__byline">{{byline}}</p>
                        {{#price}}
                        <a data-link-name="monthly paperbacks : bookshop link" href="{{bookshopUrl}}">{{price}} - {{buyFrom}}</a>
                        {{/price}}
                    </div>
                    <a data-link-name="monthly paperbacks : mobile open link" class="pb-plus show-mobile">
                        <div class="pb-plus__wrapper">
                            <div class="pb-plus__icon">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5987 13.5643L11.0583 24.163H12.7076L13.1943 13.5643L23.793 13.0776V11.4283L13.1943 10.9687L12.7076 0.369965L11.0583 0.369965L10.5987 10.9687L0 11.4283L0 13.0776L10.5987 13.5643Z" fill="#121212"/>
                                </svg>
                            </div>
                            <p class="pb-plus__text open-me">Read more</p>
                            <p class="pb-plus__text close-me">Close</p>
                        </div>
                    </a>
                </div>
                <!-- {{#id}}
                <div class="pb-ad">
                    <div class="interactive-ad-banner show-advert">
                        <div class="ad-wrapper--desktop hide-until-tablet">
                            <div id="dfp-ad--{{id}}"
                            class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop ad-slot--rendered"
                            data-link-name="ad slot banner" data-name="banner" data-tablet="1,1|2,2|300,250"
                            data-desktop="1,1|2,2|88,70|300,250"></div>
                        </div>

                        <div class="ad-wrapper--mobile mobile-only">
                            <div id="dfp-ad--inline{{id}}--mobile" class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline{{id}}"
                            data-link-name="ad slot inline{{id}}Mobile" data-name="inline{{id}}Mobile"
                            data-mobile="1,1|2,2|300,250|fluid"></div>
                        </div>
                    </div>
                </div>
                {{/id}} -->
                {{/Content}}
            </div>
        </div>
        
    </div>
</div>