<div class="interactive-wrapper">
    <div class="mobile-image-wrapper mobile-only">
        <img src="https://uploads.guim.co.uk/2021/07/20/mobile-image-peg-france-low-1.jpg" alt="">
        <small><svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"></path></svg>Phone numbers for the majority of President Emmanuel Macron's cabinet were on the leaked list, including the then prime minister, Édouard Philippe, Jacqueline Gourault, Marc Fesneau, Nicole Belloubet, François de Rugy, Bruno Le Maire, Didier Guillaume, Annick Girardin, Jean-Michel Blanquer, Jean-Yves Le Drian, Gérald Darmanin, Sébastien Lecornu, Christophe Castaner, Emmanuelle Wargon, Julien Denormandie</small>
    </div>
        
    <div class="desktop-image-wrapper desktop-only">
        <div class="desktop-image-wrapper--inner">
            <img src="https://media.guim.co.uk/daae5e7381c4e121f7b344a9c7e32381c264fcf1/221_857_4487_1993/2000.jpg" alt="">
        </div>
        <small><svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"></path></svg>Phone numbers for the majority of President Emmanuel Macron's cabinet were on the leaked list, including the then prime minister, Édouard Philippe, Jacqueline Gourault, Marc Fesneau, Nicole Belloubet, François de Rugy, Bruno Le Maire, Didier Guillaume, Annick Girardin, Jean-Michel Blanquer, Jean-Yves Le Drian, Gérald Darmanin, Sébastien Lecornu, Christophe Castaner, Emmanuelle Wargon, Julien Denormandie</small>
    </div>
   <div class="roll-overs desktop-only">
        <div class="hover hover-one">
            <div class="circle"></div>
            <p class="name">Jacqueline Gourault</p>
        </div>
        <div class="hover hover-two">
            <div class="circle"></div>
            <p class="name">Marc Fesneau</p>
        </div>
        <div class="hover hover-three">
            <div class="circle"></div>
            <p class="name">Jean-Michel Blanquer</p>
        </div>
        <div class="hover hover-four">
            <div class="circle"></div>
            <p class="name">Jean-Yves Le Drian</p>
        </div>
        <div class="hover hover-five">
            <div class="circle"></div>
            <p class="name">Édouard Philippe</p>
        </div>
        <div class="hover hover-six">
            <div class="circle"></div>
            <p class="name">Nicole Belloubet</p>
        </div>
        <div class="hover hover-seven">
            <div class="circle"></div>
            <p class="name">Emmanuel Macron</p>
        </div>
        <div class="hover hover-eight">
            <div class="circle"></div>
            <p class="name"> Christophe Castaner</p>
        </div>
        <div class="hover hover-nine">
            <div class="circle"></div>
            <p class="name">François de Rugy</p>
        </div>
        <div class="hover hover-ten">
            <div class="circle"></div>
            <p class="name">Emmanuelle Wargon</p>
        </div>
        <div class="hover hover-eleven">
            <div class="circle"></div>
            <p class="name">Gérald Darmanin</p>
        </div>
        <div class="hover hover-twelve">
            <div class="circle"></div>
            <p class="name">Julien Denormandie</p>
        </div>
        <div class="hover hover-thirteen">
            <div class="circle"></div>
            <p class="name">Bruno Le Maire</p>
        </div>
        <div class="hover hover-fourteen">
            <div class="circle"></div>
            <p class="name">Sébastien Lecornu</p>
        </div>
        <div class="hover hover-fifteen">
            <div class="circle"></div>
            <p class="name">Didier Guillaume</p>
        </div>
        <div class="hover hover-sixteen">
            <div class="circle"></div>
            <p class="name">Annick Girardin</p>
        </div>
   </div>
</div>


