<div class="interactive-wrapper">
  <div class="flex">
    <div class="left">
      <div class="image-wrappper">
        <img src="https://media.guim.co.uk/309324f53b77fbbc8401c2cd8872ffcc5066a399/1306_0_2455_2456/1000.jpg">
      </div>
    </div>
    <div class="right">
      <h2>The Fight to Vote</h2>
      <p>If America is the world’s leading democracy, why does it make it so difficult for some of its citizens to vote? That was the question at the heart of The Fight to Vote, our year-long series focused on voter suppression and threats to the integrity of the 2020 election. Launched over a year ago, the series broke stories on the dark money behind voting restrictions and the Trump campaign’s early efforts to build a false narrative around voter fraud. We featured disenfranchised voters, from Floridians fighting to restore their voting rights to a man blocked from voting over a $4 fine. Our early coverage of threats to mail-in voting was cited in a lawsuit against the Trump administration over inadequate funding of the United States Postal Service.</p>
      <a target="_parent" href="https://www.theguardian.com/us-news/series/the-fight-to-vote">
        <div class="g-button">
          Read the stories
        </div>
      </a>
    </div>
  </div>
  <div class="flex">
    <div class="left">
      <div class="image-wrappper">
        <img src="https://media.guim.co.uk/c743240f7a83db6d2503923b79130423babdc1b2/1566_398_1934_1935/1000.jpg">
      </div>
    </div>
    <div class="right">
      <h2>Lost on the Frontline</h2>
      <p>Nearly 1,400 frontline healthcare workers have perished in the coronavirus pandemic so far – a grim statistic we know only because the Guardian has tracked it. Last spring, amid PPE shortages and inadequate worker protections, the Guardian partnered with Kaiser Health News to document every healthcare worker who died from Covid-19 after helping patients during the pandemic. In the absence of reliable government data, our interactive data project has emerged as the nation’s most comprehensive count of healthcare worker deaths and is cited regularly in the media. The project has been cited on the Senate floor by Senator Ron Wyden and influenced the Frontline Heroes Act, proposed legislation in Congress to provide support for the families of fallen healthcare workers.</p>
      <a target="_parent" href="https://www.theguardian.com/us-news/series/lost-on-the-frontline">
        <div class="g-button">
          Read the stories
        </div>
      </a>
    </div>
  </div>
  <div class="flex">
    <div class="left">
      <div class="image-wrappper">
        <img src="https://media.guim.co.uk/8ac8d1c0f6f507da9e19d11afd391cd8e64878fd/831_316_2684_2684/1000.jpg">
      </div>
    </div>
    <div class="right">
      <h2>Investigative reporting on Amy Coney Barrett</h2>
      <p>Before Amy Coney Barrett’s confirmation to the US supreme court, investigations by the Guardian uncovered the judge’s past statements against abortion and in-vitro fertilization, raising concerns over the impact of her appointment on reproductive rights in America for generations to come. The Guardian’s reporting was referenced by Senator Richard Blumenthal during the confirmation hearings. It also earned the ire of Senate majority leader Mitch McConnell, who attacked the Guardian over reporting on her involvement with a secretive faith group that has been criticized for subjugating women.</p>
      <a target="_parent" href="https://www.theguardian.com/us-news/2020/oct/01/amy-coney-barrett-supported-group-fertilization">
        <div class="g-button">
          Read the stories
        </div>
      </a>
    </div>
  </div>
  <div class="flex">
    <div class="left">
      <div class="image-wrappper">
        <img src="https://media.guim.co.uk/70118e3425b1ad0f655489dd08c38faadd01d007/877_0_3331_3330/1000.jpg">
      </div>
    </div>
    <div class="right">
      <h2>Climate countdown: 100 days to save the Earth</h2>
      <p>On 4 November, Donald Trump withdrew the US from the Paris climate agreement, a global treaty committing countries to limit the globe-heating emissions imperiling the planet. As part of the Guardian’s commitment to keeping the climate crisis at the center of our 2020 election coverage, we ran a 100-day series ahead of that day highlighting its extraordinary stakes. We tracked every environmental rollback pursued by the Trump administration and explored the rapid disappearance of the Arctic. And we handed control over our climate coverage for one day to a group of first-time voters – members of a generation that has the most to lose from the ongoing crisis.</p>
      <a target="_parent" href="https://www.theguardian.com/us-news/series/climate-countdown">
        <div class="g-button">
          Read the stories
        </div>
      </a>
    </div>
  </div>
  <div class="flex">
    <div class="left">
      <div class="image-wrappper">
        <img src="https://media.guim.co.uk/4297ab83445ed33e2a061f7edde693d098c2121e/862_0_2314_2314/1000.jpg">
      </div>
    </div>
    <div class="right">
      <h2>Racial justice and policing</h2>
      <p>As discussions about racial justice and law enforcement moved to the forefront following the police killings of George Floyd and Breonna Taylor, the Guardian built on its extensive track record of reporting on these issues. Our series covering gun violence in the San Francisco Bay area was cited in official recommendations for criminal justice reform in the state. Our coverage of the treatment of incarcerated people during the coronavirus crisis moved authorities to reconsider decisions around releases. In-depth reporting of police violence against civilians forced departments to reckon with abuse and prosecutors to drop unwarranted charges against victims.</p>
      <a target="_parent" href="https://www.theguardian.com/us-news/series/guns-and-lies">
        <div class="g-button">
          Read the stories
        </div>
      </a>
    </div>
  </div>
  <div class="flex">
    <div class="left">
      <div class="image-wrappper">
        <img src="https://media.guim.co.uk/53dd564eb37e2137a4106d9dc55f9ccb1629b6d2/346_0_1800_1800/1000.jpg">
      </div>
    </div>
    <div class="right">
      <h2>America’s water crisis</h2>
      <p>This yearlong series examines the challenges many in the US face getting access to safe, clean, affordable water. We commissioned a landmark, six-month study that found that millions of Americans can’t afford water, with bills rising up to 80% in a decade, affecting people of color most acutely. Bernie Sanders and Erin Brockovich contributed to the series, which has been read by millions of people. The series is a partnership with Consumer Reports, which is working with Guardian readers to test water quality in 120 communities across the US, and the solutions nonprofit news site Ensia.</p>
      <a target="_parent" href="https://www.theguardian.com/us-news/series/americas-water-crisis">
        <div class="g-button">
          Read the stories
        </div>
      </a>
    </div>
  </div>
  <div class="flex">
    <div class="left">
      <div class="image-wrappper">
        <img src="https://media.guim.co.uk/11ea4901181f349c46918e1ec92a7e984276fafb/0_0_1800_1800/1000.jpg">
      </div>
    </div>
    <div class="right">
      <h2>Childfree</h2>
      <p>This series set out to understand why fewer American women are having babies. Amid a record low in fertility rates, American women from all walks of life took part to explain their choice not to have children – whether because of their careers, the climate crisis, economic precarity or just because they don’t want to. The series spurred more than 800 women to write to us to share their experiences, helping us challenge the stigma around being childfree.</p>
      <a target="_parent" href="https://www.theguardian.com/us-news/series/childfree">
        <div class="g-button">
          Read the stories
        </div>
      </a>
    </div>
  </div>
</div>
