@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

.interactive-wrapper {
  overflow: hidden;
  .gs-container {
        // padding: 0 10px;
        .content__main-column {
          padding: 0 10px;
            // h2,
            // h2+p,
            // h2+p+p {
            //     border-left: 1px solid #121212;
            //     padding-right:10px;
            //     @include mq(tablet) {
            //       padding-left: 10px;
            //     }
            // }

            h2 {
                font-family:"Guardian Titlepiece";
                font-size: 52px !important;
                margin-top: 32px;
                line-height:90%;
                padding-bottom: 20px;
                @include mq(tablet) {
                  padding: 0 0 20px 10px;
                }

                @include mq($from: desktop) {
                    font-size:70px !important;
                }
            }

            p {
                @include mq(tablet) {
                  padding:0 0 0 10px;
                }
                &:nth-child(1) {
                    font-size:24px;
                    font-family: "Guardian Egyptian Web",Georgia,serif;
                    line-height:125%;
                    font-weight:200;
                    padding:0 0 0 0 !important;
                    border-left: none !important;
                }
            }
            p+h2 {
              &::before {
                content: '';
                height: 1px;
                left: 0;
                right: 0;
                background-color: #121212;
                position: absolute;
                margin-top: -1px;
                @include mq(tablet) {
                  left:10px;
                  right:20px;
                }
              }
            }
            a {
              color:#EE342F;
            }

            h2 {
              // &:after {
              //   content: '';
              //   width: 1px;
              //   top: 0;
              //   bottom: 0;
              //   background-color: #121212;
              //   position: absolute;
              //   margin-left: -10px;
              // }
            }
        }
    }
}

figure.element-atom {
  padding: 0;
  margin: 0;
}

.flex {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 10;

  @include mq($from: desktop) {
    flex-direction: row;
    justify-content: unset;
  }
}

.numbers {
  width: 100%;

  @include mq($from: desktop) {
    width: 43vw;
  }

  .big-numbers {
    font-family:"Guardian Titlepiece";
    font-size: 12vh;
    line-height: 0.8;
    text-align: left;
    font-variant-numeric: lining-nums;
    position: relative;
    color: #000;

    @include mq($from: desktop) {
      width: 43vw;
      text-align: right;
      font-size: 19.8vh;
    }

    &.roundone {
      &:after {
        content: 'minutes';
      }
    }
    &.roundtwo {
      &:after {
        content: 'hours';
      }
    }
    &.roundthree {
      &:after {
        content: 'days';
      }
    }
    &.roundfour {
      &:after {
        content: 'weeks';
      }
    }
    &.roundfive {
      &:after {
        content: 'months';
      }
    }
    &.roundsix {
      &:after {
        content: 'year';
        display: none;
      }
    }

    &:after {
      content: 'something here';
      display: inline-block;
      font-family:"Guardian Titlepiece";
      font-size: 2vh;
      letter-spacing: 1px;
      color: #ffe500;
      position: absolute;
      top: 14px;
      margin-left: 10px;
      width: max-content;
      text-transform: uppercase;
    }
  }
}

.headline {
  color: #fff;
  font-family:"Guardian Titlepiece";
  position: relative;

  h1, h2 {
    @include mq($from: desktop) {
      position: absolute;
      bottom: 35px;
      width: 390px;
    }
  }

  h2 {
    bottom: 6px;
    color: #fff;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.covid-time {
  height: 88vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000;

  @include mq($from: desktop) {
    height: 95vh;
  }

  h1, h2 {
    line-height: 1.1;
    margin-left: 10px;

    span {
      display: block;
      color: #ffe500;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -177px;
    opacity: 0;
    z-index: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-duration: 4s;


    @include mq($from: desktop) {
      object-position: 0;
      width: calc(100% + 639px);
    }
  }
}

.top-banner-ad-container {
  display: none;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body-content {
  h2 {
    @include mq($from: desktop) {
      border-left: 1px solid #121212 !important;
    }
  }
  p {

    padding-bottom: 10px !important;
    margin-bottom: 0;

    @include mq($from: desktop) {
      border-left: 1px solid #121212 !important;
    }
  }
  .timecounter {
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom:8px;

    @include mq($from: desktop) {
      border-left: 1px solid #121212 !important;
      margin-bottom:0;
    }

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #121212;
      display: inline-block;
      margin-right: 6px;
      border-radius: 50%;
      animation-name: flash;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }

    span {
      margin-right: 10px;
      font-family: $f-sans-serif-text;
    }
  }
}

.pull-out-stat {
  h1{
    margin-bottom: 6px !important;
  }
  p {
    border-left: 0 !important;
  }
}

.l-footer {
  display: block !important;
}

.content__meta-container {
  margin-left: 0 !important;
  padding-left: 10px;

  @include mq($from: tablet) {
    padding-left: 20px;
  }

  @include mq($from: desktop) {
    padding-left: 10px;
  }

  @include mq($from: leftCol) {
    padding-left: 0;
  }
}

.social__item {
  .inline-icon {
    background-color: #ffe500;
  }
  svg {
    path {
    fill: #121212;
    }
  }
}


.ios, .android {
  .gs-container {
    .content__meta-container {
      display:none;
    }
    .body-content {
      h2 {
        padding-bottom: 0;
        margin-bottom:16px;
      }
      p {
        margin-top: 4px;
        padding-bottom:8px!important;
      }
      [data-atom-id="interactives/2020/12/year-of-covid/stat-1"],
      [data-atom-id="interactives/2020/12/year-of-covid/stat-2"],
      [data-atom-id="interactives/2020/12/year-of-covid/stat-3"] {
        border-top: 1px solid #121212;
        h1 {
          margin-top: 4px;
        }
      }
    }
  }
}