<div class="interactive-wrapper">
  <div class="timeline">
    <div class="gs-container">
      <div class="timeline-placeholder"></div>
    </div>
    <!-- <div class="control-prompt">
      <svg width="94" height="30" viewBox="0 0 94 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M78.5318 21.6364h10.4318l-4.0909 4.8954.5318.5318 5.6864-5.7v-.5454l-5.6864-5.7-.5318.5318 4.0909 4.8955H78.5318v1.0909zM15.5591 20.5455H5.12726L9.21817 15.65l-.53181-.5318-5.68637 5.7v.5454l5.68636 5.7.53182-.5318-4.09091-4.8954H15.5591v-1.0909z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M93.5.5h-29v29h29V.5zM64 0v30h30V0H64zM61.5.5h-29v29h29V.5zM32 0v30h30V0H32zM29.5.5H.5v29h29V.5zM0 0v30h30V0H0z" fill="#fff"/><path d="M3.56 9h3.328v-.768H4.536V3.456H3.56V9zM86.7709 9h.976V6.752h.864L89.8509 9h1.072l-1.384-2.448v-.04c.624-.24 1.008-.648 1.008-1.432 0-1.088-.656-1.624-1.928-1.624h-1.848V9zm.976-2.928V4.208h.76c.728 0 1.032.264 1.032.904 0 .648-.288.96-1.024.96h-.768z" fill="#fff"/></svg>
    </div> -->
  </div>
  <div class="controls">
      <div data-link-name="live-blog-carousel-left__one" class="left">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black"/>
        </svg>
      </div>
      <div data-link-name="live-blog-carousel-right__one" class="right">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.531815 6.63636H10.9636L6.87272 11.5318L7.40454 12.0636L13.0909 6.36364V5.81818L7.40454 0.118183L6.87272 0.650002L10.9636 5.54546H0.531815V6.63636Z" fill="black"/>
        </svg>
      </div>
  </div>
  <div class="election-image-carousel">
    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Pat Cronk volunteers on election day in Granger, Iowa.
            </small>
            <cite>
              Photo by KC McGinnis
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/a0e683bf45d62fb2fdbc2f8ebefb2a4476375272/0_59_3000_1800/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              An election official stands near the ballot boxes at Ballard High School.
            </small>
            <cite>
              Photo by Jon Cherry/Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/d4464aadbd8d914da04904abebd5f139f1f3ba80/194_0_5713_3429/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              People cast their ballots in the US presidential election at the vote center at the Hot & Cold Cafe in the Leimert Park neighborhood of Los Angeles.
            </small>
            <cite>
              Photo by ROBYN BECK/AFP via Getty Images
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/ec6f1ec276afd543e88956b4685a1b64fcb11157/0_0_5000_2999/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              A voter stands behind a voting booth at a polling station in Deja Hue Art on Election Day in Chicago.
            </small>
            <cite>
              Photo by REUTERS/Daniel Acker
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/d98a316f3f38287e653978f67b61e7b78f627253/0_232_3500_2101/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Election judges verify and count ballots at the Denver Elections Division building.
            </small>
            <cite>
              Photo by Chet Strange / AFP
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/78120d77b9c0c48cb82d3b6feabec595a21fc007/0_510_7596_4557/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Chad takes a selfie over the stadium field after he casted his ballot at the Dodger Stadium polling location in Los Angeles.
            </small>
            <cite>
              Photo by EPA/ETIENNE LAURENT
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/77ade9b509fdda272e1024695bf6e0b740913f28/0_77_5000_3001/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              The Los Pasajeros mariachi band plays for voters at a polling place at Dodger Stadium on Election Day.
            </small>
            <cite>
              Photo by AP Photo/Chris Pizzello
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/005fe45b03da2ff1fd7d75bea1afe3ae9e5a1552/0_423_5805_3483/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Andrew and Nancy Freno emerge from a polling place after casting their votes on Election Day, in Gypsy, Indiana County, Pennsylvania.
            </small>
            <cite>
              Photo by REUTERS/Alan Freed
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/de4509c2c03530555f521753bdb4e64fa7912b8d/0_183_3500_2100/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Voters cast their ballots at the Staples Center polling location in Los Angeles, California.
            </small>
            <cite>
              AP Photo/Steve Helber
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/87555dbaef7ea338c321dac1fb0a2e5885421f1f/0_333_5000_3001/1000.jpg">
    </div>

    <div class="slide">
      <div class="overlay-window"></div>
      <div class="headline-container">
        <div class="gs-container">
          <div class="caption">
            <small>
              <span><strong>Caption <svg width="72" height="38" viewBox="0 0 72 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M71.8364 34.8364L37.6364.636368h-3.2728L.163635 34.8364l3.190905 3.1091L36 10.4545l32.6455 27.491 3.1909-3.1091z" fill="#000"/></svg></strong></span>
              Voters cast their ballots under a giant mural at Robious Elementary school on Election Day, in Midlothian.
            </small>
            <cite>
              Photo by AP Photo/Steve Helber
            <cite>
          </div>
        </div>
      </div>
      <img class="slide-image" data-src="https://media.guim.co.uk/032e9b9f742fb8954a3317f3068272e3991f7233/0_174_6000_3600/1000.jpg">
    </div>

  </div>
</div>
