@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
    background-color: #dfe4e6;
}

.flow-chart-desktop {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  @include mq($from: desktop) {
    display: block;
    max-width: 660px;
    margin-left: 170px;
  }
  @include mq($from: wide) {
    margin-left: 240px;
  }
}

.flow-chart-mobile {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  @include mq($from: desktop) {
    display: none;
  }
}
