@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

.interactive-wrapper {
    .pull-out-stat {
        &::before {
            content:'';
            width:1px;
            left:-10px;
            top:0;
            bottom:0;
            background-color:#121212;
        }
        h1 {
            font-family:"Guardian Titlepiece";
            font-size:50px;
            color:#EE342F;
            line-height:1;
            padding:0 0 0 10px;
            @include mq(tablet) {
                padding:0 !important;
            }
        }
        p {
            font-family: "Guardian Text Sans Web",
            "Helvetica Neue",
            Helvetica,
            Arial,
            "Lucida Grande",
            sans-serif !important;
            font-size:14px;
            line-height:115%;
            @include mq(tablet) {
                padding: 0 !important;
            }
        }
    }
}
