@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";


.interactive-atom {
    margin: 0;
    padding: 0;
}

@import "one-mil";

.italy-svg {
    svg {
        width: 50% !important;

        @include mq(tablet) {
            width: 55% !important;
        }
    }
}