<div class="interactive-wrapper">
  <div class="eoy-thrasher__wrapper">
    <div class="flex">
      <div class="left">
        <h1>Help put America back together this<span>Giving Tuesday<span></h1>
        <h2>Decency, civility and truth can help heal divisions. Fact-based journalism grounded in evidence can help unite the US. Support the Guardian's journalism with a year-end gift.</h2>
        <div class="ticker">
          <div class="ticker__values">
            <div class="contributed">

            </div>
            <div class="goal">

            </div>
          </div>
          <div class="progress">
            <div class="progress-animation"></div>
          </div>
        </div>
        <div class="eoy-main-ctas">
          <a href="https://support.theguardian.com/uk/contribute?acquisitionData=%7B%22source%22%3A%22GUARDIAN_WEB%22%2C%22componentType%22%3A%22ACQUISITIONS_THRASHER%22%2C%22componentId%22%3A%22us_eoyappeal_2020_launch_thrasher%22%2C%22campaignCode%22%3A%22us_eoyappeal_2020%22%7D&INTCMP=us_eoyappeal_2020">
            <div class="g-button">
              Support The Guardian
            </div>
          </a>
          <!-- <a href="https://gu.com/p/ff6dz">
            <div class="g-button">
              Read more
            </div>
          </a> -->
        </div>
      </div>
      <div class="right">
        <div class="image-wrapper">
          <img src="https://uploads.guim.co.uk/2020/11/30/gif_us.gif">
        </div>
      </div>
    </div>
    <div class="g-roundel">
      <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
<g fill="none" fill-rule="evenodd">
<circle fill="#121212" cx="13" cy="13" r="13"></circle>
<path d="M15.216 3.19c1.832.267 3.84 1.449 4.609 2.246v3.782h-.414l-4.195-5.584v-.443zm-1.389.237h-.059c-2.954 0-4.638 4.107-4.55 9.632-.088 5.496 1.596 9.573 4.55 9.573h.06v.443c-4.433.295-10.43-3.073-10.342-10.045-.088-6.944 5.91-10.312 10.341-10.016v.413zm7.387 10.46l-1.389.62v6.234c-.768.739-2.689 1.861-4.61 2.245V14.36l-1.388-.502v-.384h7.387v.413z" fill="#FFF"></path>
</g>
</svg>
    </div>
  </div>
</div>
