<div class="fact-card-wrapper">
  <div class="fact-card-container">
  <div class="fact-card">
    <img src="https://media.guim.co.uk/b1e31f07931968f584776b1c1277775c2c1363b6/0_9_6540_3924/1000.jpg">
    <h1>Time Life Building, New Bond Street</h1>
    <ul>
      <li class="location"><span>Location</span>Mayfair</li>
      <li class="purchased"><span>Purchased</span>2005</li>
      <li class="description">A prestigious Grade*II-listed mid-century building, formerly the offices of Time Life publishing company, with four Henry Moore statues built into its facade. Today, the site includes the London flagship store of Parisian luxury fashion house Hermès.</li>
    </ul>
  </div>
  <div class="fact-card">
    <img src="https://media.guim.co.uk/5c91e6a555a669398e4e0a05df34c582b7da4adc/0_0_6720_4032/1000.jpg">
    <h1>Berkeley Square House</h1>
    <ul>
      <li class="location"><span>Location</span>Mayfair</li>
      <li class="purchased"><span>Purchased</span>2003</li>
      <li class="description">A huge office block that stretches along the east side of Berkeley Square. The site includes a Ferrari and Bentley dealership and glitzy restaurants popular with celebrities, such as Sexy Fish, where the menu includes a fillet of Japanese wagyu steak for £105 and 30g of caviar for £210.</li>
    </ul>
  </div>
  <div class="fact-card">
    <img src="https://media.guim.co.uk/e7788c6050af492d534ebc03c97746c8a1c9b962/0_100_6720_4032/1000.jpg">
    <h1>One Kensington Gardens</h1>
    <ul>
      <li class="location"><span>Location</span>Kensington</li>
      <li class="purchased"><span>Purchased</span>2008</li>
      <li class="description">A nine-storey luxury apartment block designed by the prominent British architect Sir David Chipperfield. Flats in the sleek development, which includes a 24-hour concierge service and a 25m indoor swimming pool, are currently on the market for between £18m and £26m.</li>
    </ul>
  </div>
  <div class="fact-card">
    <img src="https://media.guim.co.uk/45161186f926f31f8893856eb7274a4d1fcc23f8/0_2908_4379_2626/1000.jpg">
    <h1>3 Hans Crescent</h1>
    <ul>
      <li class="location"><span>Location</span>Knightsbridge</li>
      <li class="purchased"><span>Purchased</span>2018</li>
      <li class="description">The red-brick residential block close to Harrods in Knightsbridge houses Ecuador’s embassy, where the WikiLeaks founder, Julian Assange, spent seven years in hiding. Since the late 1970s, the UAE’s royal family has bought the leasehold of multiple flats at the site. In 2018, a company connected to Sheikh Khalifa acquired the freehold of the entire property. </li>
    </ul>
  </div>
  <div class="fact-card extra"></div>
  </div>
</div>
